/* Estilos generales */

*{
    box-sizing: border-box;  /*Para que se use el tamaño de width y el height */
}

html, body{
   margin: 0;
   padding: 0;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet M  S', sans-serif;
}

a{
   color: var(--color-primary);
   text-decoration: none;  /*Para que no se subraye */
}

a:hover{
   color: var(--color-primary-dark);
   text-decoration: underline;
} 