#menu{
    list-style: none;   /*Sin estilo en las listas*/
    padding: 0;
    margin: 0;
    margin-top: 20px;
    text-align: center;
}

#menu li a{
    display: block;
    padding: 5px;
    margin-bottom: 7px;
}

#menu li a.active{
    color: var(--color-primary-dark);
    text-decoration: underline;
}

@media only screen and (min-width: 768px){
    #menu{
        margin-left: 20px; /*Mas Separado*/
        text-align: left;
    }
}