<footer>
    <div class="container">
        <div class="row">

            <div class="col-xs-6 col-s-3 icon-footer">
                <img src="img\icon-shipping.png" alt="" height="60">
                <p><strong>Envio Gratis</strong> <br> Por 29Bs de compra</p>
            </div>

            <div class="col-xs-6 col-s-3 icon-footer">
                <img src="img\icon-refund.png" alt="" height="60">
                <p><strong>Devoluciones gratis</strong> <br> Tienes 90 dias</p>
            </div>

            <div class="col-xs-6 col-s-3 icon-footer">
                <img src="img\icon-customer-service.png" alt="" height="60">
                <p><strong>Atencion al cliente</strong> <br> 7 dias de atención </p>
            </div>

            <div class="col-xs-6 col-s-3 icon-footer">
                <img src="img\icon-secure.png" alt="" height="60">
                <p><strong>Pago segurp</strong> <br> 100% confiable</p>
            </div>
        </div>
    </div>
</footer>