<h1 class="title-product">Ropa Masculina</h1>


<div class="row">
    <div class="col-xs-12">

        <form>
            <input class="search-input" type="search" name="search" placeholder="Buscar articulo">
        </form>

        <select class="select-order">
            <option value="">Precio más bajo</option>
            <option value="">Precio más alto</option>
            <option value="">Por opiniones</option>
            <option value="">Por descuento</option>
        </select>
    </div>
</div>

<div class="row">

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img src="img/v.jpg" alt="" width="100%">
        <h3>Traje J-Crew</h3>
        <strong class="price">180Bs</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img src="img/v-1.jpg" alt="" width="90%">
        <h3>Traje</h3>
        <strong class="price"><del>200Bs</del> 100Bs</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img src="img/v-2.jpg" alt="" width="100%">
        <h3>Traje J-Crew</h3>
        <strong class="price">180Bs</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img src="img/v-6.jpg" alt="" width="90%">
        <h3>Traje J-Crew</h3>
        <strong class="price">180Bs</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img src="img/v-4.jpg" alt="" width="100%">
        <h3>Traje J-Crew</h3>
        <strong class="price">180Bs</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img src="img/v-5.jpg" alt="" width="100%">
        <h3>Traje J-Crew</h3>
        <strong class="price">180Bs</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img src="img/v-6.jpg" alt="" width="90%">
        <h3>Traje J-Crew</h3>
        <strong class="price">180Bs</strong>
    </a> 
    
    <a href="#" class="col-m-4 col-s-6 product-box">
        <img src="img/v-7.jpg" alt="" width="100%">
        <h3>Traje J-Crew</h3>
        <strong class="price">180Bs</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img src="img/v-8.jpg" alt="" width="100%">
        <h3>Traje J-Crew</h3>
        <strong class="price">180Bs</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img src="img/v-9.jpg" alt="" width="100%">
        <h3>Traje J-Crew</h3>
        <strong class="price">180Bs</strong>
    </a>
</div>

<ul class="pagination">
    <li><a href="#" class="active">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">...</a></li>
    <li><a href="#">10</a></li>

</ul>